html {
  scroll-behavior: smooth;
}

a, ol, ul{
	list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #1E1E1E;
}

h1, h2, h3, h4, h5, h6, p, span{
  margin: 0;
  padding: 0;
}

img{
  display: block;
  width: 100%;
  object-fit: cover;
}

i {
  display: flex;
}
